*{
        list-style: none;
        box-sizing: border-box;
}
.gallery {
    margin: 24px auto;
        display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    gap: 24px;
        padding-inline-start: 0px;
}

.gallery-image{
    width: 360px;
    height: 200px;
}
.gallery-image {
    cursor: url('../cursor.png'), auto;
}
.basicLightbox{
display: flex;
justify-content: center;
align-items: center;   
 position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2E2F42CC;
    top: 0;
    left:0 ;

}
